# Virtual Environments
venv/
kinetic_backend/venv/

# Django files
*.pyc
__pycache__/
kinetic_backend/**/__pycache__/
db.sqlite3
kinetic_backend/db.sqlite3
.env
kinetic_backend/.env
staticfiles/
media/

# Flutter / Dart
.dart_tool/
kinetic_app/.dart_tool/
.packages
kinetic_app/.packages
.flutter-plugins
kinetic_app/.flutter-plugins
.flutter-plugins-dependencies
kinetic_app/.flutter-plugins-dependencies
build/
kinetic_app/build/

# IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
*.log
kinetic_backend/*.log

